<template>
    <div
        id="aboutDialog"
        class="fixed inset-0 z-[300] hidden items-center justify-center bg-black/50"
    >
        <div class="bg-white rounded-lg shadow-lg w-full max-w-sm p-5">
            <p class="text-lg sm:text-md text-center">
                <br class="hidden sm:block" />
                Professional CVs made easy<br />Walk into every interview with
                confidence. <br /><br />
            </p>

            <div class="flex justify-center gap-3">
                <button
                    class="positive-btn px-8 py-2 rounded bg-blue-500 text-white rounded-full hover:bg-blue-700 min-w-[120px] shadow-sm hover:shadow-md"
                >
                    Ok
                </button>
            </div>
        </div>
    </div>
</template>
