<template>
    <div class="flex items-center w-full gap-2 cursor-pointer">
        <div class="flex-1 py-2 px-4 bg-gray-100 rounded">
            <span class="item block text-sm font-semibold text-gray-800"></span>
            <div class="max-w-[300px] bg-blue-200 rounded h-1.5 mt-1 mb-1">
                <div class="bar bg-blue-500 h-1.5 rounded"></div>
            </div>
        </div>

        <div class="controls flex flex-col gap-2">
            <button class="edit text-sm text-blue-600">
                <svg class="size-6">
                    <use href="#icon-edit"></use>
                </svg>
            </button>
            <button class="delete text-sm text-red-600">
                <svg class="size-6">
                    <use href="#icon-delete"></use>
                </svg>
            </button>
        </div>
    </div>
</template>
